<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Satori Examples</title>
  <link rel="stylesheet" href={{@"/assets/styles/ext/bootstrap.css"}}/>
  <link rel="stylesheet" href={{@"/assets/styles/main.css"}}/>
</head>

<body>
  <div id="out">
  <div class="container">
     <h1><img src={{@"/assets/styles/img/zen.png"}} title="Satori" /> Sample Applications</h1>
    
     <div class="samps">
     <div class="span5 samp samp-left">
     <h2><a href={{@"/eapp"}}>Events</a></h2>
     <div class="desc">
     <p>
     Multi-user event manager example application.
     </p>
     <h4>Features</h4>
     <ul>
       <li>Shiro based security</li>
       <li>Internationalization</li>
       <li>Handlebars templating</li>
       <li>BVal validation</li>
       <li>JQuery+Bootstrap (ui, date/time, ajax, gmaps, &c.)</li>
       <li>Caching (Cache-control and ETags)</li>
       <li>And more cool things!</li>
     </ul>
     </div>
     <div class="c">
     <a href={{@"/eapp"}} class="btn btn-large">Open <strong>Events</strong> Example</a>
     </div>
     </div>
     
     <div class="span5 samp samp-right">
     <h2><a href={{@"/atmosphere/todos"}}>Todos</a></h2>
     <div class="desc">
     <p>
     One page Todo example application adapted from backbone.js.
     </p>
     <h4>Features</h4>
     <ul>
       <li>Shiro based security</li>
       <li>Internationalization</li>
       <li>Underscore.js+Backbone.js</li>
       <li>Atmosphere Pub/Sub</li>
     </ul>
     </div>
     <div class="c">
     <a href={{@"/atmosphere/todos"}} class="btn btn-large">Open <strong>Todos</strong> Example</a>
     </div>
     </div>
     </div>
  </div>
  <footer id="footer">
     <div class="container">&#9776; Satori KISS.</div>
  </footer>
  </div>
</body>
</html>
